<div class="column">
    <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/index.html">
        <img id="skate-therapy-logo" src="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/images-copy/skate-therapy-logo.jpg" alt="Skate Therapy logo">
    </a>
</div>

<div class="enroll-schedule-volunteer-donate-buttons">
<button onclick="location.href='file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/registerpage.html'" id="enroll-button">Enroll</button>
<button onclick="location.href='file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/schedulepage.html'" id="schedule-button">Schedule</button>
<button onclick="location.href='file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/volunteerpage.html'" id="volunteer-button">Volunteer</button>
<button onclick="location.href='file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/donatepage.html'" id="donate-button">Donate</button>
</div>