<div id="desktop-nav">
    <div id="top-nav-div" class="row d-flex bg-primary">
        <a class="top-nav-links" href="/our-skaters-page">Our Skaters</a>
        <a class="top-nav-links" href="/our-volunteers-page">Our Volunteers</a>
        <a class="top-nav-links" href="/resources-page">Resources</a>
        <a class="top-nav-links" href="/about-us-page">About Us</a>
    </div>
    <div id="bottom-nav-div" class="row d-flex">
        <div id="logo-div" class="col-4">
            <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/index.html">
                <img id="skate-therapy-logo" src="/images-copy/skate-therapy-logo.jpg" alt="Skate Therapy logo">
            </a>
        </div>
        <div id="bottom-nav-links-div" class="col">
            <a class="bottom-nav-links" href='/registerpage'>ENROLL</a>
            <a class="bottom-nav-links" href='/schedulepage'>SPONSOR</a>
            <a class="bottom-nav-links" href='/volunteerpage'>VOLUNTEER</a>
            <a class="bottom-nav-links" href='/donatepage'>DONATE</a>
        </div>
    </div>
</div>

<!------------------------------------------ NAV-BAR MOBILE ------------------------------------------>

<div id="hamburger-menu" class="navbar-1 navbar navbar-light lighten-4 row">
  <div class="home-link-mobile">
    <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/index.html">
        <img id="skate-therapy-logo" src="/images-copy/skate-therapy-logo.jpg" alt="Skate Therapy logo">
    </a>
  </div>
  <div>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
          class="fas fa-bars fa-1x"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-links" href="/our-skaters-page">Our Skaters</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="/our-volunteers-page">Our Volunteers</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="/resources-page">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="/about-us-page">About Us</a>
            </li>
        </ul>
        <ul class="bottom-nav-links navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-links" href='/registerpage'>Enroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/schedulepage'>Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/volunteerpage'>Volunteer</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/donatepage'>Donate</a>
            </li>
        </ul>
    </div>
  </div>
</div>