<div id="desktop-nav">
    <div id="top-nav-div" class="row d-flex bg-primary">
        <a class="top-nav-links" href="#locations">Schedule</a>
        <a class="top-nav-links" href="#locations">Locations</a>
        <a class="top-nav-links" href="#about-us">About Us</a>
        <a class="top-nav-links" href="#contact-us">Contact Us</a>
        <a class="top-nav-links" href="/gallery">Gallery</a>
    </div>
    <div id="bottom-nav-div" class="row d-flex">
        <div id="logo-div" class="col-4">
            <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/index.html">
                <img id="skate-therapy-logo" src="/images-copy/skate-therapy-logo.jpg" alt="Skate Therapy logo">
            </a>
        </div>
        <div id="bottom-nav-links-div" class="col">
            <a class="bottom-nav-links" href='/enroll'>ENROLL</a>
            <a class="bottom-nav-links" href='/schedule'>SPONSOR</a>
            <a class="bottom-nav-links" href='/volunteer'>VOLUNTEER</a>
            <a class="bottom-nav-links" href='/donate'>DONATE</a>
        </div>
    </div>
</div>

<!------------------------------------------ NAV-BAR MOBILE ------------------------------------------>

<div id="hamburger-menu" class="navbar-1 navbar navbar-light lighten-4 row">
  <div class="home-link-mobile">
    <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/index.html">
        <img id="skate-therapy-logo" src="/images-copy/skate-therapy-logo.jpg" alt="Skate Therapy logo">
    </a>
  </div>
  <div>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i
          class="fas fa-bars fa-1x"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-links" href="#locations">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="#locations">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="#contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href="/gallery">Gallery</a>
            </li>
        </ul>
        <ul class="bottom-nav-links navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-links" href='/enroll'>Enroll</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/sponsor'>Sponsor</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/volunteer'>Volunteer</a>
            </li>
            <li class="nav-item">
                <a class="nav-links" href='/donate'>Donate</a>
            </li>
        </ul>
    </div>
  </div>
</div>