<p id="sub-menu">
  <a class="sub-menu" href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/our-skaters-page.html">Our Skaters</a>
  <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/our-volunteers-page.html">Our Volunteers</a>
  <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/resources-page.html">Resources</a>
  <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/about-us-page.html">About Us</a>
</p>