{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<div class="about-us-videos">
<iframe id="fox-about-us-video" width="560" height="315" src="https://www.youtube.com/embed/ZGqMwKndzew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="wylie-about-us-video" width="560" height="315" src="https://www.youtube.com/embed/A_MnEgIaiko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
    The idea for therapeutic skating began when Jim O’Neill founded STARskaters in 2008 with the purpose of providing an on-ice experience for individuals with disabilities. 
    In 2009, he and other hockey players would give skating lessons to disabled youth on Saturday mornings at Sugar Land Ice Center (SLICE). On May 15th of 2010, he organized a skating event with ARC of Ft. Bend County. 
    At this event he met B.L. Wylie, who ran the Learn To Skate Classes at SLICE and had long had an interest in developing a program to teach disabled youth to skate. 
    Not long after, a skater named Anthony Lo expressed an interest in starting a class for his high school graduation project, which was to teach skating to students who couldn’t participate in his rink's Learn To Skate program. 
    With the expertise of B.L. Wylie’s volunteer instructors and modeling the program after US Figure Skating’s 14 level badge program, the Therapeutic Skating program began to take off. 
    Later on, the group was officially named SkateTherapy, and SkateTherapy.org was officially organized as a program to be offered under the STARskaters 501(c)(3) non-profit organization, along with Sled
    Hockey. The first meeting of SkateTherapy.org included 5 students and 7 coaches, with keen interest among all involved. 
    The ensuing years have seen great growth, in all aspects, including enough coaches for each student to have a one to one relationship with a coach. 
    The unsung heroes in this program are the pre-teen to college-level instruction staff! These volunteers consistently donate their time and expertise to our skaters, and the program could not exist without their continued help and devotion!
</p>
<p>
    “CONSTANT CARE FOR ALL, BY ALL’’ weighed on our minds along with our slogan,
    “NEVER SAY NEVER”. We know our jobs as hosts to a very special group of children and young adults!  Each class session is very special to us, and we know our jobs take effort and energy! 
    We look forward to meeting all interested parties for whom this program would be beneficial! 
    We do let everyone who hears about us know we care about their interest, and we're there for every one of our skaters from the time they take their first step on to the ice! 
</p>    
<p>
    If you're interested in this program, please feel free to drop by any of our locations during <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/schedulepage.html">class time</a> to watch the program and come chat with us. Or, 
    you can <a href="">contact us</a> here any time!
</p> 
<p>
    WE LOOK FORWARD TO MEETING YOU! <br> Sincerely,
</p>
<p>    
    The SkateTherapy Team
</p>


  </body>
  {{> scripts}}
</html>