{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<h1 id="donations-heading">Please donate, so kids can skate!</h1>

<p>
  Skate Therapy is a not-for-profit organization that relies heavily on volunteers and the support of donations. 
  Our skaters' parents pay a small amount for ice time for their children in comparison to the cost of free-style ice time or public sessions. 
  Our coaches and staff are all volunteers, and as such all donations go straight to purchasing ice time for our kids, as well to special equipment and
  costumes for events.
</p>

<h2 id="how-you-can-help-heading">How You Can Help</h2>

    <p>
      Every week, lives are being changed on ice as U.S Figure Skating trained instructors provide the liberating experience of ice skating to our skaters with special needs.
      Donations of any amount are needed, and 100% of your donations go to supporting our mission.
    </p>

    <p>Here’s an example of what your donation means to our special skaters:</p>

    <ol id="donation-list">
      <li>Your $25 donation sponsors one skater for our program.</li>  
      <li>Your $50 donation purchases special skater aids for our disabled skaters.</li>
      <li>Your $100 donation purchases a pair of skates or protective equipment.</li>
    </ol>

    <p>
      If you would like more information about how we use your donations, contact us at: donate@SkateTherapy.org. 
      SkateTherapy is a Program of STARskaters.org a 501(C)(3) non-profit organization.
    </p>

<a href="" id="give-donation-button">Donate</a>

  </body>
  {{> scripts}}
</html>