{{> header}}
<p id="username"></p>

<p id="not-you">Not you? >
<button id="user">Change user</button>
</p>

{{> nav-bar}}

{{> sub-nav-bar}}

   <h1>Helping Through Skating</h1>

        <img id="group-photo" class="index" src="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/images-copy/skate-therapy-image.jpg" alt="Skate Therapy students and coaches, group photo!">
    	
	<p>Skate Therapy is a program for children with disabilities to learn how to ice skate one-on-one with a skating coach (or two!) in a positive, social, and invigorating environment.</p>
    
	<p>Our mission is to give confidence to children with disabilities, making a lasting impact on their physical and mental health, and overall wellness</p>
	
	<p>Skate Therapy brings students one-on-one instruction designed to inspire: </p>
  	
		<ul>
			<li>Confidence</li>
			<li>Positivity</li>
			<li>Health</li>
		</ul>




{{> footer}}