{{> header}}

{{> nav-bar}}

<!--------------- CAROUSEL --------------->

<div class="row justify-content-center">
	<div class="col-12">
		<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active" data-interval="5000">
					<img src="/images-copy/sk8therapyimg1.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
				<div class="carousel-item" data-interval="5000">
					<img src="/images-copy/sk8therapyimg2.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
				<div class="carousel-item" data-interval="5000">
					<img src="/images-copy/sk8therapyimg3.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
				<div class="carousel-item" data-interval="5000">
					<img src="/images-copy/sk8therapyimg4.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
				<div class="carousel-item" data-interval="5000">
					<img src="/images-copy/sk8therapyimg5.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
				<div class="carousel-item" data-interval="5000">
					<img src="/images-copy/sk8therapyimg6.jpg" class="d-block w-100" alt="photo of Skate Therapy in action">
				</div>
			</div>
			<div id="carousel-overlay-div" class="carousel-overlay d-flex flex-wrap">
				<div id="h1-overlay-div">			
					<h1 id="h1-overlay-text">Helping Through Skating.</h1>
				</div>
				<div id="a-overlay-div">
					<a id="a-overlay" href="#about-us">OUR MISSION</a>
				</div>
			</div>
		</div>
    </div>	
</div>

<!--------------- LOCATIONS --------------->

<div id="locations-div">
	<div class="row d-flex py-3"></div>

	<div class="title-divs" class="col">
		<h1 class="h1-title-text">Where We Skate</h1>
		<h2>We are merging ice skating and therapy</h2>
		<p>
			Our Skate Therapy Programs provide special needs learners to use ice skating as a means to develop physical and social skills. 
			The programs instill a sense of confidence and belonging in each skater and coach.
		</p>
	</div>

	<div class="row d-flex py-3"></div>

	<div class="row">
		<div class="col location-div-col py-3">
			<div>		
				<img class="img-fluid location-imgs" src="/images-copy/sugarlandiceimg.png" alt="Sugar Land Ice Center" />
			</div>
			<div class="location-links">
				<a href="http://www.sugarlandice.com">Sugar Land Ice Center</a>
				<p>Schedule<br></p>
				<p>Saturday, 9:30am - 10:30am<br></p>
				<p>281-265-7465<br></p>
				<p>bl@starskaters.org</p>
			</div>
		</div>
		<div id="locations" class="col location-div-col py-3">
			<div>		
				<img class="img-fluid location-imgs" src="/images-copy/aerodromeimg.png" alt="Aerodrome Ice Skating Complex" />
			</div>
			<div id="aerodrome-location-link" class="location-links">
				<a href="https://www.aerodromes.com">Aerodrome Ice Skating Complex</a>
				<p>Schedule<br></p>
				<p>Saturday, 11:00am - 12:00pm</p>
				<p>281-897-0210<br></p>
				<p>shannonkeeler3@yahoo.com</p>
			</div>
		</div>
		<div class="col location-div-col py-3">
			<div>		
				<img class="img-fluid location-imgs" src="/images-copy/spiriticearenaimg.png" alt="Spirit Ice Arena" />
			</div>
			<div id="sugarland-location-link" class="location-links">
				<a href="http://www.spiriticearena.com">Spirit Ice Arena</a>
				<p>Schedule<br></p>
				<p>Saturday, 11:00am - 12:00pm</p>
				<p>777-777-7777<br></p>
				<p>bl@starskaters.org</p>
			</div>
		</div>
	</div>
</div>

<!--------------- ABOUT US --------------->

<div class="row d-flex py-5"></div>

<div class="title-divs" class="col">
	<h1 class="h1-title-text">About Us</h1>
</div>

<div class="row d-flex">
	<div class="col">
		<h2>Our Mission</h2>
		<img class="img-fluid mission-images" src="/images-copy/sk8therapygroup2.jpg" />
		<p>
			Our mission is to give confidence to children with disabilities, making a lasting impact on their physical and mental health, 
			and overall wellness.
			<br>
			<br>
			“Constant care for all, by all" weighs on our minds along with our slogan,
			“Never say never”.
		</p>
	</div>
	<div class="col">
		<h2>Who Skate Therapy is for</h2>
		<img class="img-fluid mission-images" src="/images-copy/sk8therapyimg5.jpg" />
		<p>
			Skate Therapy is a program for people of all ages with mental and cognitive disabilities. Our passionate volunteer staff brings 
			this group to the ice in a positive, social, and invigorating environment. 
			Our program is designed to inspire condidence and positivity, 
			and to promote a healthy lifestyle for this very special group of people.
		</p>
	</div>
	<div class="col">
		<h2 id="about-us">Our Team</h2>
		<img class="img-fluid mission-images" src="/images-copy/skate-therapy-image1000.jpg" />
	</div>
</div>

<!--------------- CONTACT US --------------->

<div class="row d-flex py-5"></div>

<div class="title-divs" class="col">
	<h1 class="h1-title-text">Get In Touch!</h1>
	<p>
		Each class session is very special to us, and we look forward to meeting all interested parties for whom
		this program would benefit. We invite you to swing by any of our locations and come speak with us in person, 
		or reach out to us by phone or email with the info below!
		<br>
		<br>
		We look forward to meeting you!
		<br>
		<br>
		The Skate Therapy Team
	</p>
</div>

<div class="row d-flex justify-content-center">
	<div class="col">
		<h4>Email:</h4>
		<p>
			Skater inquiries:
			<a href="mailto:BL@STARskaters.org">BL@STARskaters.org</a>
			<br>
			<br>
			Sponsor inquiries:
			<a href="mailto:sponsor@SkateTherapy.org">sponsor@SkateTherapy.org</a>
			<br>
			<br>
			Program inquiries:
			<a href="mailto:program@SkateTherapy.org">program@SkateTherapy.org</a>
			<br>
			<br>
			Volunteer inquiries:
			<a href="mailto:volunteer@SkateTherapy.org">volunteer@SkateTherapy.org</a>
			<br>
			<br>
			Media/Interview inquiries:
			<a href="mailto:media@SkateTherapy.org">media@SkateTherapy.org</a>
		</p>
	</div>
	<div class="col">
		<h4>Mailing Address:</h4>
		<p>
			STARskaters
			c/o Lilia Quintana, Secretary
			P.O. Box 16434
			Sugar Land, TX 77496
		</p>
	</div>
</div>

<div class="row">
	<div class="form-group">
		<form action="/action_page.php">
			<label for="name">Name</label>
			<input type="text" id="contactor-name" placeholder="your name">
			<label for="email">Email</label>
			<input type="email" id="contactor-email" placeholder="your email">
			<label for="subject">Message</label>
			<textarea id="contactor-message" name="subject" placeholder="get in touch with us here!"></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>

{{> footer}}