{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<p>Already a volunteer? Click <a href="file:///Users/jbwilson/Downloads/Skate-Therapy-Website-master/sk8-therapy-test-site/index/volunteer-portal.html">here</a> to access our volunteer portal.</p>

<h1>Volunteer Shoutout!</h1>

<img id="group-photo" class="benjamin-photo" src="file:///Users/jbwilson/Downloads/benjamin-photo.JPG" alt="Photo of Skate Therapy volunteer Benjamin Wilson">

<p>
Have you met Benjamin? He started with us in March 2019 and has been a consistent helping hand ever since. 
He has enjoyed helping our kids get on the ice to be the best that they can be. 
In addition, he is our webmaster and volunteers his time outside of class to manage and run our awesome new website!
</p>



  </body>
  {{> scripts}}
</html>