{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<h1>Join Us!</h1>

<div id="register-align">

    <p id="account">To create an account and enroll in classes, please provide the information requested below:</p>
    <p>Log-in Information:</p>
        <input type="text" placeholder="Username">
        <input type="text" placeholder="password">
        <input type="text" placeholder="re-enter password">

    <p>Profile and Student Information:</p>
    <ul>
        <li><input type="text" placeholder="first name" id="first name"></li>
        <li><input type="text" placeholder="last name" id="last name"></li>
        <li><input type="text" placeholder="email address" id="email address"></li>
        <li><input type="text" placeholder="phone number" id="phone number"></li>
        <li><input type="text" placeholder="student first name" id="student first name"></li>
        <li><input type="text" placeholder="student last name" id="student last name"></li>
        <li><input type="text" placeholder="student age" id="student age"></li>
        <li><input type="text" placeholder="how many years has your child been skating, if any?" id="experience"></li>
    </ul>

    </div>
  </body>
  {{> scripts}}
</html>