{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<form>
  <fieldset>
      <p>
          <label>Location:</label>
          <select id="locations">
              <option value="1">Sugarland</option>
              <option value="2">Aerodrome</option>
              <option value="3">College Station</option>
              <option value="4">Galleria</option>
          </select>
          </p>
  </fieldset>
</form>


  </body>
  {{> scripts}}
</html>