{{> header}}

{{nav-bar}}

{{> sub-nav-bar}}

<h1>Make A Difference!</h1>

<p>We're so happy that you're interested in volunteering! Please fill out the information below so we can get to know you a little better:</p>

<p>Log-in Information:</p>
<input type="text" placeholder="Username">
<input type="text" placeholder="password">
<input type="text" placeholder="re-enter password">

<p>Profile Information:</p>
<input type="text" placeholder="first name" id="first name">
<input type="text" placeholder="last name" id="last name">
<input type="text" placeholder="email address" id="email address">
<input type="text" placeholder="phone number" id="phone number">

  </body>
  {{> scripts}}
</html>