/***************************************************** GLOBAL CODE *****************************************************/

html {
	font-family: 'Varela Round', sans-serif;
	scroll-behavior: smooth;
}

#main-container {
	max-width: 1350px;
	border: 1px solid black;
}


/***************************************************** NAV-BAR *****************************************************/

#hamburger-menu {
	display: none;
}

#top-nav-div {
	justify-content: flex-end;
}

.top-nav-links {
	text-align: end;
	color: white;
	margin: 1rem;
}

.top-nav-links:hover {
	text-decoration: none;
}

#bottom-nav-div {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#bottom-nav-links-div {
	text-align: end;
	margin-top: 3rem;
}

.bottom-nav-links {
	margin: 1rem;
	font-size: 1.4rem;
}

.bottom-nav-links:hover {
	text-decoration: none;
}

/***************************************************** CAROUSEL *****************************************************/

.carousel-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	max-width: 35rem;
	max-height: 23rem;
}

#h1-overlay-text {
	color: white;
	background-color: rgba(65, 65, 65, 0.5);
	padding: 1rem;
}

#a-overlay {
	font-size: 1.3rem;
	background-color: rgba(255, 193, 7, 0.7);
	color: black;
	padding: 1rem 7.77rem 1rem 1rem;
}

#a-overlay:hover {
	text-decoration: none;
}

/***************************************************** LOCATIONS *****************************************************/

#locations-div {
	background-color: antiquewhite;
}

.title-divs {
	text-align: center;
}

.h1-title-text {
	font-size: 5rem;
}

.location-imgs {
	max-width: 259px;
	height: auto;
}

.location-div-col {
	text-align: center;
}

#aerodrome-location-link {
	margin-top: 1.6rem;
}

#sugarland-location-link {
	margin-top: 0.7rem;
}

/***************************************************** MEDIA QUERIES *****************************************************/

@media screen and (min-width: 901px) {

	#carousel-overlay-div {
		align-content: space-around;
	}

	#h1-overlay-div {
		max-height: 0rem;
	}
	
	#a-overlay-div {
		max-height: 0rem;
	}

}

@media screen and (max-width: 900px) {

	#hamburger-menu {
		display: block !important;
	}

	#desktop-nav {
		display: none !important;
	}

	.carousel-overlay {
		max-height: 6.6rem;
	}

	#h1-overlay-text {
		font-size: 1.9rem;
	}
	
	#a-overlay {
		font-size: 0.7rem;
	}

}

@media screen and (max-width: 680px) {

	.h1-title-text {
		font-size: 3.5rem;
	}

}

