

html {
	background-color: #96C4F2;
	font-size: 60px;
	text-align: center;
    font-family: 'Varela Round', sans-serif;
	}

.enroll-schedule-volunteer-donate-buttons {
	color: red;
	background-color: white;
	}

#enroll-button {
	margin-left: 65%;
	margin-right: auto;
	}

#sub-menu {
	margin: 0 auto;
	margin-left: 0%;
	margin-right: auto;
	background-color: yellow;
	}

#skate-therapy-logo {
	margin: 0 auto;
	margin-left: auto;
	margin-right: 100%;
	width: 10%;
	height: auto;
	}

.column {
  	float: left;
 	width: 100%;
	padding: 5px;
	}

#username {
	margin: 0 auto;
	margin-left: 90%;
	margin-right: auto;
	}

h1 {
	margin: 0;
  	padding: 0px 0;    
  	color: #00539F;
  	text-shadow: 3px 3px 1px black;
	background-color: blue;
	color: white;
	font-size: 90px;
	}

#group-photo {
	width: 100%;
	height: auto;
	}

body {
	margin: 0 auto;
  	background-color: white;
	}

p, li {
	color: white;
	background-color: blue;
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;
	}

#register-align {
	text-align: left;
	}

.benjamin-photo {
	width: 20%;
	height: auto;
	}

#not-you {
	font-size: 12px;
	margin-left: 90%;
	margin-right: auto;
	}

#user {
	margin: 0 auto;
	margin-left: 2%;
	margin-right: auto;
	text-align: right;
	}

.sub-menu {
	margin-left: 70%;
	margin-right: auto;
	}

#donations-heading {
	font-size: 55px;
	}

#how-you-can-help-heading {
	font-size: 40px;
	margin: 0;
	padding: 0px 0;    
	color: #00539F;
	text-shadow: 3px 3px 1px black;
 	background-color: blue;
 	color: white;
	}

#donation-list {
	text-align: left;
	}

#give-donation-button {
	font-size: 40px;
	background-color: turquoise;
	color: purple;
	}

.about-us-videos {
	background-color: blue;
	}

